@model List<List<UserStructure>>

<div class="content-wrapper">
    <section class="content">
    <table width='50px'>

        <tr>

            <th>
                Табельный номер
            </th>
            <th>
                Группа грейда
            </th>
            <th>
                Номер грейда
            </th>
            <th>
                Роль
            </th>
            <th>
                Подроль
            </th>
            <th>
                Дата присвоения текущей подроли
            </th>
            <th>
                Причина изменения роли/подроли
            </th>
            <th>
                Категория роли
            </th>
            <th>
                Признак для ФОТ
            </th>
            <th>
                Непосредственный руководитель - табельный номер
            </th>
            <th>
                Непосредственный руководитель - ФИО
            </th>
            <th>
                Начальник ССП - табельный номер
            </th>
            <th>
                Начальник ССП - ФИО
            </th>
            <th>
                Директор - табельный номер
            </th>
            <th>
                Директор - ФИО
            </th>
            <th>
                Блок
            </th>
            <th>
                Куратор - табельный номер
            </th>
            <th>
                Куратор - ФИО
            </th>
        </tr>
        @foreach (var item in Model)
        {
            @foreach (var clas in item)
            {
                <tr>
                    <td>
                        @clas.service_number
                    </td>
                    <td>
                        @clas.grade_group
                    </td>
                    <td>
                        @clas.grade_number
                    </td>
                    <td>
                        @clas.structure_role
                    </td>
                    <td>
                        @clas.subrole
                    </td>
                    <td>
                        @clas.subrole_date
                    </td>
                    <td>
                        @clas.subrole_reason
                    </td>
                    <td>
                        @clas.role_category
                    </td>
                    <td>
                        @clas.fot_mark
                    </td>
                    <td>
                        @clas.manager_service_number
                    </td>
                    <td>
                        @clas.manager_fullname
                    </td>
                    <td>
                        @clas.chief_service_number
                    </td>
                    <td>
                        @clas.chief_fullname
                    </td>
                    <td>
                        @clas.director_service_number
                    </td>
                    <td>
                        @clas.director_fullname
                    </td>
                    <td>
                        @clas.curator_service_number
                    </td>
                    <td>
                        @clas.curator_fullname
                    </td>
                </tr>
            }
        }
    </table>
</section>
</div>
